<md-toolbar style="background-color:#6100BF; color:#FEFEFE">
    Select Employee(s)
    <button md-button style="margin-left:600px; margin-right: 10px; width:150px; background-color:#FEFEFE; color:#6100BF" (click)="sendEligibleParticipant()"><md-icon style="margin-right:20px">done_all</md-icon>Done</button>
    <button md-button style="width:150px; background-color:#FEFEFE; color:#6100BF" (click)="closeDialog()"><md-icon style="margin-right:20px">close</md-icon>Cancel</button>
</md-toolbar>
<md-card-header style="background-color:#6100BF; color:#FEFEFE; padding-left:0px; height:45px">
    Search by:
    <div style="padding-left:10px">
        <md-input-container floatPlaceholder="never" style="color:#FEFEFE; width:250px">
            <input mdInput #filter placeholder="name">
        </md-input-container>
    </div>    
</md-card-header>
<md-card-content>
    <md-table #table [dataSource]="dataSource" mdSort style="background-color:#F2F2F2">
        <ng-container mdColumnDef="action">
            <md-header-cell *mdHeaderCellDef></md-header-cell>
            <md-cell *mdCellDef="let row">
                    <md-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row.idUser) : null"
                    [checked]="selection.isSelected(row.idUser)"></md-checkbox>
            </md-cell>
        </ng-container>
        <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef md-sort-header><b> Full Name </b></md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="jobFamilyStream">
            <md-header-cell *mdHeaderCellDef md-sort-header><b> Job Family & Stream </b></md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.jobFamilyStream}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="grade">
            <md-header-cell *mdHeaderCellDef md-sort-header><b> Grade </b></md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.grade}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="email">
            <md-header-cell *mdHeaderCellDef md-sort-header><b> Email </b></md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.email}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="accountName">
            <md-header-cell *mdHeaderCellDef md-sort-header><b> Account Name </b></md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.accountName}} </md-cell>
        </ng-container>
        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
    <b>Total selected employee(s) : {{selection.selected.length}}</b>
    <md-paginator #paginator
                    [length]="0"
                    [pageIndex]="0"
                    [pageSize]="0"
                    [pageSizeOptions]="[10, 25, 50, 100]">
    </md-paginator>
</md-card-content>