<div class="main-content" style="margin:0">
    <md-card style="padding:0; margin-left:20px; margin-right:20px">
        <md-card-header style="background-color:#6100BF;padding-top:25px; padding-left:20px; height:65px">
            <div md-card-avatar style="color:#FEFEFE"><md-icon>dvr</md-icon></div>
            <md-card-title style="color:#FEFEFE">USERS LIST</md-card-title>
            <div class="example-header" [style.display]="selection.isEmpty() ? '' : 'none'" style="position:absolute; right:0; margin-right:20px; padding-bottom:50px">
                <md-input-container floatPlaceholder="never" style="color:#FEFEFE">
                    <input mdInput #filter placeholder="Filter users">
                </md-input-container>
            </div>
        </md-card-header>
        <md-card-content>
            <md-table #table [dataSource]="dataSource" mdSort style="background-color:#F2F2F2; height:375px">
                <ng-container mdColumnDef="employeeId">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Employee ID </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.id}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="fullName">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Full Name </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.fullName}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="email">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Email </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.email}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="jobFamilyStream">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Job Family & Stream </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.jobFamilyStream}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="grade">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Grade </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.grade}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="accountName">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Account Name </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.accountName}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="active">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Active </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.active}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="role">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Role </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.role}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="action">
                    <md-header-cell *mdHeaderCellDef><b> Action </b></md-header-cell>
                    <md-cell *mdCellDef="let row">
                        <button md-button [mdMenuTriggerFor]="menu"><md-icon>more_horiz</md-icon></button>
                        <md-menu #menu="mdMenu">
                            <button md-menu-item>Edit</button>
                        </md-menu>
                    </md-cell>
                </ng-container>
                <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
                <md-row *mdRowDef="let row; columns: displayedColumns;"
                        [class.example-selected-row]="selection.isSelected(row.id)"
                        (click)="selection.toggle(row.id)">
                </md-row>
            </md-table>
            <div class="example-no-results"
                [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
                Data not found.
            </div>
            <md-paginator #paginator
                            [length]="dataSource.filteredData.length"
                            [pageIndex]="0"
                            [pageSize]="10"
                            [pageSizeOptions]="[10, 25, 50, 100]">
            </md-paginator>
            <button md-button style="margin-left:30px; margin-bottom:10px; width:150px; background-color:#6100BF; color:#FEFEFE" (click)="openDialog()"><md-icon style="margin-right:10px">add</md-icon>Add User</button>
        </md-card-content>
    </md-card>
</div>