<div class="logo" style="margin-bottom:10px">
    <div class="card card-profile" style="width:100%; margin:0; padding-top:60px">
        <div class="card-avatar" style="width:70px; height:70px">
            <img src="../assets/img/icon.png"/>
        </div>
        <div class="content">
            <h5 class="card-title" style="margin-bottom:0">{{currentUser.name}}</h5>
            <h6 class="category text-gray" style="margin-bottom:10px">As {{currentUser.roleActive}}</h6>
        </div>
    </div>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
            <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                <md-toolbar style="background-color:transparent">
                    <a  [routerLink]="[menuItem.path]" style="color:#6100BF; width:100%" (click)="closeSideNav()">
                        <button md-button class="button button1" style="width:100%; height:50px; text-align:start">
                        <i class="material-icons" style="margin-right:15px">{{menuItem.icon}}</i>{{menuItem.title}}
                    </button>
                    </a>
                </md-toolbar>
            </li>
    </ul>
</div>

