<div class="main-content" style="margin:0">
    <md-card style="padding:0; margin-left:20px; margin-right:20px">
        <md-card-header style="background-color:#6100BF;padding-top:10px; padding-left:20px; height:65px">
            <div md-card-avatar style="color:#FEFEFE"><md-icon>dvr</md-icon></div>
            <md-card-title style="color:#FEFEFE">ACTIVE TRAINING</md-card-title>
            <md-card-subtitle style="color:#FEFEFE">Total list : {{totalDataAT}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <md-table #table [dataSource]="dataSource" mdSort style="background-color:#F2F2F2; height:300px">
                <ng-container mdColumnDef="courseName">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Course Name </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.courseName}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="mainTrainer">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Main Trainer </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.mainTrainer}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="backupTrainer">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Backup Trainer </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.backupTrainer}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="startDate">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Start Date </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.startDate}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="endDate">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> End Date </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.endDate}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="office">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Office </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.office}} </md-cell>
                </ng-container>
                <md-header-row *mdHeaderRowDef="activeTrainingColumns"></md-header-row>
                <md-row *mdRowDef="let row; columns: activeTrainingColumns;"></md-row>
            </md-table>
        </md-card-content>
    </md-card>

    <md-card style="padding:0; margin-left:20px; margin-right:20px; margin-top:30px">
        <md-card-header style="background-color:#6100BF;padding-top:10px; padding-left:20px; height:65px">
            <div md-card-avatar style="color:#FEFEFE"><md-icon>dvr</md-icon></div>
            <md-card-title style="color:#FEFEFE">BUSINESS COMMUNICATION COURSE (BCC) SCHEDULE</md-card-title>
            <md-card-subtitle style="color:#FEFEFE">Total list : {{totalDataBCCS}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <md-table #table [dataSource]="dataSource2" mdSort style="background-color:#F2F2F2; height:300px">
                <ng-container mdColumnDef="trainer">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Trainer </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.trainer}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="monday">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Monday </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.mon}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="tuesday">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Tuesday </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.tue}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="wednesday">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Wednesday </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.wed}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="thursday">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Thursday </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.thu}} </md-cell>
                </ng-container>
                <ng-container mdColumnDef="friday">
                    <md-header-cell *mdHeaderCellDef md-sort-header><b> Friday </b></md-header-cell>
                    <md-cell *mdCellDef="let row"> {{row.fri}} </md-cell>
                </ng-container>
                <md-header-row *mdHeaderRowDef="bccScheduleColumns"></md-header-row>
                <md-row *mdRowDef="let row; columns: bccScheduleColumns;"></md-row>
            </md-table>
        </md-card-content>
    </md-card>
</div>