<md-toolbar style="background-color:#6100BF; color:#FEFEFE">Choose Your Role</md-toolbar>
<br>
<md-button-toggle-group #group="mdButtonToggleGroup">
    <md-button-toggle *ngIf="adminRole === true" value="admin" style="width:113px; text-align:center" (click)="toDashboard('admin')">
      <md-icon style="color:#444444">content_paste</md-icon>
      <h4 style="color:#444444">Admin</h4>
    </md-button-toggle>
    <md-button-toggle *ngIf="adminRole === false" value="admin" style="width:113px; text-align:center" disabled>
      <md-icon style="color:#CCCCCC">content_paste</md-icon>
      <h4 style="color:#CCCCCC">Admin</h4>
    </md-button-toggle>


    <md-button-toggle *ngIf="managerRole === true" value="manager" style="width:112px; text-align:center" (click)="toDashboard('manager')">
      <md-icon style="color:#444444">gavel</md-icon>
      <h4 style="color:#444444">Manager</h4>
    </md-button-toggle>
    <md-button-toggle *ngIf="managerRole === false" value="manager" style="width:112px; text-align:center" disabled>
      <md-icon style="color:#CCCCCC">gavel</md-icon>
      <h4 style="color:#CCCCCC">Manager</h4>
    </md-button-toggle>


    <md-button-toggle *ngIf="trainerRole === true" value="trainer" style="width:113px; text-align:center" (click)="toDashboard('trainer')">
      <md-icon style="color:#444444">border_color</md-icon>
      <h4 style="color:#444444">Trainer</h4>
    </md-button-toggle>
    <md-button-toggle *ngIf="trainerRole === false" value="trainer" style="width:113px; text-align:center" disabled>
      <md-icon style="color:#CCCCCC">border_color</md-icon>
      <h4 style="color:#CCCCCC">Trainer</h4>
    </md-button-toggle>


    <md-button-toggle *ngIf="staffRole === true" value="staff" style="width:112px; text-align:center" (click)="toDashboard('staff')">
      <md-icon style="color:#444444">work</md-icon>
      <h4 style="color:#444444">Staff</h4>
    </md-button-toggle>
    <md-button-toggle *ngIf="staffRole === false" value="staff" style="width:112px; text-align:center" disabled>
      <md-icon style="color:#CCCCCC">work</md-icon>
      <h4 style="color:#CCCCCC">Staff</h4>
    </md-button-toggle>
</md-button-toggle-group>