<md-sidenav-container style="width: 100%; height: 100vh; background-color:#B0BEC5">
    <md-sidenav #sidenav style="width:250px">
        <tas-sidebar></tas-sidebar>
    </md-sidenav>
    <md-card style="background-color:#6100BF; color:#FEFEFE; height:50px; padding:0; margin:0; border-radius:0">
        <div class="navbar-left">
            <button md-button on-mouseover="sidenav.open()" style="height:50px; background-color:transparent; border:0"><i class="material-icons">menu</i></button>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#" style="color:#FEFEFE">{{getTitle()}}</a>
        </div>
        <div class="navbar-right" style="padding:0; margin:0">
            <button md-button mdTooltip="Change Role" style="height:50px; background-color:transparent" (click)="toChangeRole()"><i class="material-icons" style="margin-right:10px">group</i></button>
            <button md-button mdTooltip="Home" style="height:50px; background-color:transparent" (click)="toDashboard()"><i class="material-icons">home</i></button>
            <button md-button mdTooltip="Logout" style="height:50px; background-color:transparent" (click)="toLogin()"><i class="material-icons">exit_to_app</i></button>
        </div>
    </md-card>
    <router-outlet></router-outlet>
    <tas-footer></tas-footer> 
</md-sidenav-container>
